<div class="text-center">
    <h1 class="display-4">Gästebuch</h1>
    <h2>von Mira & Johannes</h2>
    <a asp-controller="Entry" asp-action="Create" class="btn btn-primary">Eintrag erstellen</a>
    <a asp-controller="Entry" asp-action="Index" class="btn btn-secondary">Einträge ansehen</a>
</div>
